<form  action="/blacklistip" method="post">
    <div class="form-group">
        <label for="blacklistip">Add Black List IP</label><br>
        <input class="form-control" id="blacklistip" name="ip">
    </div>
    <input type="submit" value="OK">
</form>

<div class="form-group">
    <label for="blacklistiprange">Black List IP Range</label>
    <br>
    <textarea class="form-control rounded-0" id="blacklistiprange" rows="10"></textarea>
</div>

<form  action="/blacklistip/removeBlackList" method="post">
    <div class="form-group">
        <label for="blacklistip">Remove Black List IP</label><br>
        <input class="form-control"  name="ip">
    </div>
    <input type="submit" value="OK">
</form>

<a href="/">Go to main</a>
<a href="/whitelistip">Go to white list</a>
<script>

    function getThis(){
        var elem = document.getElementById("blacklistiprange");
        <% if (typeof ips == 'object') { %>
        <% ips.forEach((ip) => { %>
        elem.innerHTML = elem.innerHTML + '<%= ip %>' + "\n"
        <% }) %>
        <% } %>
    }

    getThis()
</script>
